@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ProACC_DB.Consultant>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}


<style>
    .row {
        margin-right: 0px;
    }
</style>
<script>
    $("search").click(function () {
        $("Search").remove();
    });
</script>
<a class="card-title">SAP Consultant List</a>

@using (Html.BeginForm("Index", "Consultants", FormMethod.Get))
{

    <div class="row" style="padding-left:17px;">
        <input class=""
               id="Search"
               name="Search"
               type="text"
               value="" />
        @*@Html.TextBox("Search")*@
        <input type="submit" value="Search" id="search" class="btn btn-primary" />
        </div>
        }
        @*<p>
                @Html.ActionLink("Create New", "Create")
            </p>*@
        <div class="row" style="text-align:left !important;margin:auto !important;padding:10px 0px 0px 0px;">
            <div class="main-card mb-3 card" style="width: 100%;">
                <div class="card-body">
                    <div class="table-responsive tableFixHead outer " style="height:auto!important;">
                        <table class="mb-0 table table-striped table-hover">
                            <thead>
                                <tr>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.First().UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().Password)
                                    </th>*@
                                    <th>S.NO</th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().Designation)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().Phone)
                                    </th>
                                    <th>
                                        Email
                                        @*@Html.DisplayNameFor(model => model.First().EMail)*@
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.First().User_Master.UserType)
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
                            {
                                <tr>
                                    <td>
                                        @(item.Index + ((Model.PageNumber - 1) * Model.PageSize) + 1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Data.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Data.Designation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Data.Phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Data.EMail)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Data.User_Master.UserType)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit",new { id = item.Data.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Data.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Data.Id })
                                    </td>
                                </tr>
                            }
                        </table>

                    </div>
                </div>
            </div>
        </div>
<div class="fa fa-pencil"></div>
        @Html.PagedListPager(Model, i => Url.Action("Index", new { i, search = Request.QueryString["search"] }),
                    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })
