@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ProACC_DB.ProjectInstanceConfig>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2 class="card-title">PROJECT INSTANCE CONFIGURATION</h2>

@using (Html.BeginForm("Index", "ProjectInstanceConfigs", FormMethod.Get))
{
    @Html.TextBox("Search")
    <input type="submit" value="Search" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="mb-0 table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().InstaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CustomerProjectConfig.ProjectName)
        </th>

        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerProjectConfig.ProjectName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, i => Url.Action("Index", new { i, search = Request.QueryString["search"] }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true })